<?xml version="1.0" encoding="utf-8"?>
<manifest package="roca.bajet.com.straggle"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBKZ_J97CEKvYesTEJz-bv9USP7Nt9-le4"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".CameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".MainActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>

        <service android:name=".upload.UploadIntentService"/>

        <provider
            android:name=".data.ContentProviderStraggle"
            android:authorities="roca.bajet.com.straggle"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="ContentProviderStraggle"
            android:readPermission="roca.bajet.com.straggle.READ"
            android:syncable="true"
            android:writePermission="roca.bajet.com.straggle.WRITE">
        </provider>

        <service android:name=".widget.WidgetLocationService"
                 android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
                 android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

        <service
            android:name=".widget.StraggleRemoteViewService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            />

        <receiver android:name=".widget.StraggleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="roca.bajet.com.straggle.ACTION_LOCATION_DATA_UPDATED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/straggle_widget_provider_info"/>
        </receiver>


    </application>

</manifest>