<?xml version="1.0" encoding="utf-8"?>
<manifest package="roca.bajet.com.straggle"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:authorities="roca.bajet.com.straggle"
            android:name=".data.ContentProviderStraggle"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="ContentProviderStraggle"
            android:syncable="true"
            android:readPermission="roca.bajet.com.straggle.READ"
            android:writePermission="roca.bajet.com.straggle.WRITE" >
        </provider>

    </application>

</manifest>